@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --verylightgrayishblue: hsl(240, 78%, 98%);
  --lightgrayishblue: hsl(234, 14%, 74%);
  --grayishblue: hsl(233, 13%, 49%);
  --darkgrayishblue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}
main {
  background-color: var(--verylightgrayishblue);
  background-image: url("images/bg-bottom.svg"), url("images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  min-height: 100vh;
  gap: 3rem;
}
header {
  gap: 2rem;
}
.plan {
  min-height: 40vh;
  min-width: 40vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-color {
  color: var(--grayishblue);
}
.text-color:not(header, .plan):active {
  color: #fff;
}
.plan.featured {
  background: linear-gradient(100deg, var(--Gradient));
  transform: scale(1.1);
  color: #fff;
}
.plan.featured button {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
button.text-color:not(.plan.featured button) {
  color: #fff;
}
.price {
  font-size: xx-large;
}
.border-top {
  border-top: solid 0.5px;
}
.border-bottom {
  border-bottom: solid 0.5px;
}
.desc {
  padding: 1em;
  min-width: 100%;
}
.desc p {
  text-align: center;
}
button {
  margin: 1em;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.toggle label {
  position: relative;
  border-radius: 50px;
  margin: 0 10px;
  width: 50px;
  height: 27px;
  cursor: pointer;
  padding: 11px;
  background: linear-gradient(90deg, var(--Gradient));
}
.name {
  font-size: 18px;
}
button,
label:hover,
.checkbox:active {
  background: linear-gradient(0deg, var(--Gradient));
  color: #fff;
}
.ball {
  background: #fff;
  position: absolute;
  top: 4px;
  left: 6px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transition: transform 0.3s linear;
}
.checkbox:checked + .label {
  background: linear-gradient(50deg, var(--Gradient));
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.toggle .checkbox {
  display: none;
}
.price.monthly {
  display: none;
}
/*****************************************/

.d-flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.show {
  display: block;
}
.hide {
  display: none;
}
